---
import WorkLayout from '../layouts/WorkLayout.astro';
import { contentfulClient } from "../lib/contentful";
import type { PortfolioItem, BlogItem } from "../lib/contentful";
import WorkItem from '../components/WorkItem.astro';

const title="WORK";
const links = ['About', 'Contact'];

const entries = await contentfulClient.getEntries<PortfolioItem>({
    content_type: "portfolioItem",
});

const blog = await contentfulClient.getEntries<BlogItem>({
    content_type: "blogPost",
})

let items = entries.items.map((item) => {
    return {
        project: item.fields.project,
        description: item.fields.description,
        slug: item.fields.slug,
        tech: item.fields.tech,
        role: item.fields.role,
        demoUrl: item.fields.demoUrl,
        imageUrl: item.fields.imageUrl,
        caseStudyMedia: item.fields.caseStudyMedia,
    };
});

items = items.sort((a, b) => {
    return a.project.localeCompare(b.project);
});

let explaination = blog.items.map((item) => {
    return {
        body: item.fields.body
    }
});

let filterList = [...new Set(items.map(item => item.tech).flat())];
filterList.sort((a, b) => a.localeCompare(b))
filterList.unshift('all');

---
<WorkLayout filters={filterList}>
    <p>{explaination[0].body}</p>
    <ul class="portfolio-list">
        {items.map((item) => (
            <li transition:name={item.project}><WorkItem project={item.project} description={item.description} slug={item.slug} tech={item.tech} role={item.role} demoUrl={item.demoUrl} imageUrl={item.imageUrl}/></li>
        ))}
    </ul>
</WorkLayout>

<style>
    .portfolio-list {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 24px;
    
        @media (max-width: 768px) {
            flex-direction: column;
            margin: 0 auto;
        }
    }
    
    li {
        @media (max-width: 768px) {
            width: 100%;
            position: relative;
        }
    }

    p {
        margin-inline-start: 24px;
        margin-inline-end: 24px;
        margin-top: 36px;
    }
    </style>