---
interface Props {
    title: string;
    links: string[];
}

const { title, links } = Astro.props;

const pageLinks = links.map((link) => {
    return {
        name: `${link.toUpperCase()}`,
        path: `/${link.toLowerCase()}`,
        aria: `Go to ${link} page`
    }
})

const transitionName = `${title.toLowerCase()}`

---
<nav class="nav-links" transition:persist>
    <a class="page-link" href="/">TIM&nbsp;HILTON</a>
    <div class="page-links">  
        {pageLinks.map((link) => {
            return <a class="page-link" href={link.path} aria-label={link.aria}>{link.name}</a>
        })}
    </div>
</nav>
<h2 transition:name={transitionName} transition:persist>{title}</h2>

<style>
    h2 {
        line-height: 1;
    }
</style>